body {
	font-family: 'Montserrat', sans-serif;
}

section {
	padding: 40px 0;
}

/* ul{
	margin:0;
	padding:0;
} */

.at-cta-btn{
    background-color: #ff9900;
    color:#fff;
    padding:0 1rem;
    display: inline-block;
    border-radius: 5px;
	text-decoration: none;
	font-weight:600;
	height:2.5rem;
	line-height: 2.5rem;
	font-size: 0.8rem;
	border:2px;
}
.at-cta-btn:hover {
    background-color: #d58000;
}

.a t-links {
    
}

a{
	text-decoration: none;
}

.primary-color {
	color: #005d85;
}

.primary-background-color {
	background-color: #005d85;
	color:#c5f1ff;
}

.primary-outline-color {
	border:2px solid #005d85;
	color:#005d85;
	background-color: #fff;
	box-sizing: border-box;
}

.primary-outline-background-color {

}

.secondary-color {
	color: #ff9900;
}

.secondary-background-color {
	background-color: #ff9900;
	color:#fff;
}

.primary-link{
	color: #ff9900;
}

.section-heading {
	text-align: center;
	margin: 0 0 64px 0;
}

.section-heading h1 {
	font-weight: 700;
	font-size: 48px;
	margin:0 0 0 0;
}

.section-heading a {
	font-weight: 600;
}	

.card-link {
	position: relative;
}

.card-link-anchor{
	position: absolute;
	content:'';
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.pagination a{
	color: #005d85;
}

.pagination a:hover{
	background-color: #ff9900;
	color:#fff;
}

.pagination .active{
	background-color: #ff9900;
	border-color:#d58000;
}


@media only screen and (max-width:575px) {

	.at-cta-btn{
		font-size: 12px;
	}

	section{
		padding:16px 0 !important;
		margin:16px 0 !important;
	}

	.section-heading h1 {
		font-size: 28px;
	}

	.section-heading a {
		font-size: 14px;
	}

	.horizontal-slider-mobile{
		display: block;
		width:560px;
		overflow-y: auto;
	}
	
}
/* constant css ends */

/* header css starts  */

.top-header-bar{
	padding:8px 0;
	font-size: 14px;

}

.social-links a{
	font-size: 16px;
	color:#c5f1ff;
	margin: 0 4px 0 0;
}

.logo-header{
	padding: 16px 0;
	background-color: #fcfcfc;
}

.artemis-nav{
	justify-content: flex-end;
}

.artemis-nav ul {
	display: flex;
	align-items:center;
	margin:0;
	padding:0;
}

.artemis-nav ul li {
	margin: 0 0 0 24px;
}

.artemis-nav ul li a {
	color:#333;
	font-weight: 700;
	position: relative;
	font-size: 16px;
}



.artemis-nav ul li a:hover, .artemis-nav ul li a.active{
	color:#005d85;
}

.artemis-nav ul li a::after, .artemis-nav ul li a.active::after {
	position: absolute;
	content: '';
	bottom:-8px;
	right:0;
	height:2px;
	width:0%;
	background-color: #333;
	transition:0.3s;
}

.artemis-nav ul li a:hover::after, .artemis-nav ul li a.active::after{
	position: absolute;
	width:40%;
	transition: 0.3s;
}

.artemis-nav .dropdown-menu li {
	margin:0;
	padding:0;
	width:200px;
}
.artemis-nav .dropdown-menu li a {
	font-size: 14px;
	padding: 8px 16px;
	font-weight: 500;
	display: block;
}

.artemis-nav .dropdown-menu li a:hover{
	background-color: #d9f6ff;
}

@media only screen and (max-width:575px) {

	.logo-header {
		padding: 8px 8px 0;
	}

	.artemis-nav {
		justify-content: space-between;
		border-bottom: 1px solid #ccc
	}

	.artemis-nav ul li {
		margin: 16px 8px 16px 0px;
	}

	.artemis-nav ul li a {
		font-size: 14px;
	}
}

@media only screen and (max-width:380px) {
	.artemis-nav ul li {
		margin: 16px 12px 16px 0px;
	}

	.artemis-nav ul li a {
		font-size: 12px;
	}
}

/* header css ends  */

/* banner css */
.banner.homepage-banner {
	height:80vh;
	background : url('../images/banner-background.png') center center no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom : 100px;
}

.banner .dark-bg-layer{
	position: absolute;
	content: '';
	bottom:0;
	right:0;
	height:100%;
	width:100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.dark-bg-layer .banner-text {
	position: absolute;
	width:72%;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	padding:32px;
	color:#fff;
}

.dark-bg-layer .banner-text h1 {
	font-weight: 700;
	font-size: 3rem;
	margin:0 0 1.5rem 0;
}

.dark-bg-layer .banner-text p {
	font-weight: 400;
	margin: 0 0 1rem 0;
}

.banner .search-form{
	position: absolute;
	background-color: #fff;
	min-width: 72%;
	left:50%;
	bottom:-45px;
	transform: translate(-50%);
	box-shadow: 0px 2px 4px #ccc;
	padding: 20px 40px;
	border-radius:50px;
}

.banner .search-form form{
	display: flex;
	justify-content: space-between;
}

.banner .search-form .search-button {
	border: none;
    background-color: #005d85;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: #fff;
}

.banner.homepage-banner .search-form .form-control:focus{
	box-shadow: 0;
}

@media only screen and (max-width : 575px) {

	.banner.homepage-banner {
		height:64vh;
		margin-bottom : 280px;
	}

	.dark-bg-layer .banner-text {
		width: 100%;
		text-align: left;
		padding: 16px;
	}

	.dark-bg-layer .banner-text h1 {
		font-size: 2.5rem;
	}

	.banner.homepage-banner .search-form{
		width:100%;
		bottom:-240px;
		border-radius:40px;
		padding-bottom:32px;
	}

	.banner.homepage-banner .search-form form {
		display: block;
	}

	.banner.homepage-banner .search-form .search-button {
    	height: 50px;
    	width: 100%;
    	border-radius: 25px;
	}
}

/* detail page banner css */
.banner.detail-page-banner{
	margin: 0 0 48px 0;
}

.banner.detail-page-banner img{
	height:80vh
}

.banner.detail-page-banner .destination-summary{
	position: relative;
}

.banner.detail-page-banner .destination-summary-box {
	position: absolute;
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.9));
	content:'';
	left:0;
	bottom:0;
	padding: 32px;
	display: inline-block;
	width:400px;
	height:400px;
	border-radius: 10px 10px 0 0;
}

.banner.detail-page-banner .carousel-indicators{
	display: inline-block;
	right:0;
	left:auto;
}

.banner.detail-page-banner .carousel-indicators button {
	height:100px;
	width:100px;
}	

.banner.detail-page-banner .carousel-indicators button {
	border:2px solid #c5f1ff;
}

.banner.detail-page-banner .destination-summary .summary-rate {
	display: flex;
	justify-content: space-between;
	margin: 0 0 16px 0;
}

.banner.detail-page-banner .destination-summary label {
	color:#333;
	font-size: 16px;
}

.banner.detail-page-banner .destination-summary .summary-rate label small {
	color:#c90000;
}

.banner.detail-page-banner .destination-summary .summary-rate div > div {
	font-size: 40px;
	font-weight: 700;
}

.banner.detail-page-banner .destination-summary p {
	font-weight: 700;
}

@media only screen and (max-width:575px) {

	.banner.detail-page-banner .destination-summary-box{
		height:440px;
		width:100%;
	}

	.banner.detail-page-banner .carousel-indicators {
		display: none;
	}
}

/* detail page banner css */
/* banner css */

/* cards css */

/* circular-card css */
.circular-card {
	height:256px;
	width:240px;
	text-align: center;
	padding:8px;
	display: inline-block;
}

.circular-card img{
	width:200px;
	height:200px;
	border-radius: 50%;
	margin-bottom:16px;
}

.circular-card h2{
	font-size: 18px;
	font-weight: 700;
}

.circular-card:hover img{
	box-shadow: 2px 6px 6px rgb(156, 156, 156);
}

.circular-card:hover h2{
	color:#005d85;
}

@media only screen and (max-width:575px) {
	.circular-card {
		height:auto;
	}
}

/* circular-card css */
/* destination-card-global d-card */
.d-card h2 {
	font-size:24px;
	font-weight: 700;
	margin: 0 0 8px 0;
}

.d-card h6 {
	margin: 0 0 8px 0;
}

.d-card h6 .trek-amount {
	font-size: 18px;
	font-weight: 700;
	color:#338500;
}

.d-card small {
	font-size: 12px;
	color:#999;
}

.d-card p {
	color:#333;
}
/* destination-card-global d-card */
/* destination-card-1 css */

.destination-card-1{
	width:400px;
	padding: 8px;
}

.d-card img{
	width:360px;
	height:360px;
	margin : 0 0 16px 0;
	border-radius: 20px;
}

@media only screen and (max-width:575px) {
	
	.destination-card-1{
		width:320px;
		margin: 0 0 16px 0;
	}
	
	.destination-card-1 img{
		width:280px;
		height:280px;
	}
}
/* destination-card-1 css */


/* destination-card-2 css */
.destination-card-2 {
	width: 520px;
	padding: 0 8px;
}

.destination-card-2 h2{
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 12px 0;
}

.destination-card-2 img{
	width: 504px;
	height:520px;
	margin: 0 0 16px 0;
	border-radius: 20px;
}

@media only screen and (max-width: 575px) {
	.destination-card-2 {
		width: 100%;
		padding: 8px;
		margin: 0 0 16px 0;
	}
	
	.destination-card-2 img{
		width: 100%;
		height:320px;
	}
}

/* destination-card-2 css */


/* destination-card-3 css */
.destination-card-3 {
	display: flex;
	margin: 0 0 32px 0;
}

.destination-card-3 img{
	width:100%;
    height: 240px;
    border-radius: 10px;
}

.destination-card-3 h2{
	font-size: 24px;
	font-weight: 700;
}

@media only screen and (max-width: 575px) {

	.destination-card-3 {
		margin: 0 0 40px 0;
	}

	.destination-card-3 img{
		margin: 0 0 16px 0;
	}
}

/* .destination-card-3 css */

/* destination-card-4 css */
.destination-card-4 {
	margin: 0 0 32px 0;
	box-shadow: 0px 0px 4px #ccc;
	border-radius: 10px;
}

.destination-card-4 .img-section {
	padding:0;
}

.destination-card-4 img{
	width:100%;
    height: 280px;
    border-radius: 10px;
}

.destination-card-4 .txt-section {
	padding: 16px;
}
/* destination-card-4 css */

/* destination-card-5 css */
.destination-card-5 {
	padding:0 0 16px 0;
	margin: 0 0 32px 0;
}
.destination-card-5 img{
	width:100%;
}
/* destination-card-5 css */

/* cards css */

/* trek highlights section css */
.is-highlights{
	display: flex;
	position: relative;
	padding: 2rem 0;
}

.is-highlights .highlight-images{
	border-right: 2px solid #f5f5f5;
	padding:0 16px 0 0;
	height:560px;
}

.is-highlights .highlight-images .image-1{
	position: absolute;
	height:20rem;
	width:20rem;
}

.is-highlights .highlight-images .image-2{
	position: absolute;
	height:20rem;
	width:20rem;
	top:15rem;
	left:10rem;
	z-index:2
}

.is-highlights .highlight-images .image-3{
	position: absolute;
	height:10rem;
	width:10rem;
	top:3.4rem;
	left:23rem;
	z-index:2
}

.is-highlights .highlight-images img{
	border-radius:10%;
	border:4px solid #d58000;
	height:100%;
	width:100%;
}

.is-highlights .highlight-stats h6{
	font-size: 2rem;
	color: #f5f5f5;
	font-weight: 400;
	margin: 0 0 2rem 0;
}

.is-highlights .highlight-stats .stat-numbers .stat-single-section {
 width:40%;
 display: inline-block;
 margin: 0 3rem 2rem 0;
}

.is-highlights .highlight-stats .stat-numbers .stat-single-section h5{
	font-size: 4rem;
	font-weight: 700;
	color:#f5f5f5;
	margin:0;
}

.is-highlights .highlight-stats .stat-numbers .stat-single-section p{
	font-size: 1rem;
	margin:0;
	color:#c5f1ff;
}

@media only screen and (max-width: 575px) {

	.is-highlights{
		padding: 1rem 0 0 0.5rem;
	}

	.is-highlights .highlight-images{
		border-right: none;
		height:400px;
	}
	
	.is-highlights .highlight-images .image-1{
		height:13rem;
		width:13rem;
	}
	
	.is-highlights .highlight-images .image-2{
		position: absolute;
		height:13rem;
		width:13rem;
		top:11rem;
		left:9rem;
	}
	
	.is-highlights .highlight-images .image-3{
		height:8rem;
		width:8rem;
		top:2rem;
		left:16rem;
		z-index:2
	}

	.is-highlights .highlight-stats h6{
		font-size: 1.5rem;
	}

	.is-highlights .highlight-stats .stat-numbers .stat-single-section {
		width:36%;
		display: inline-block;
		margin: 0 3rem 2rem 0;
	   }
	   
	   .is-highlights .highlight-stats .stat-numbers .stat-single-section h5{
		   font-size: 3rem;
		   font-weight: 700;
		   margin:0;
	   }
	   
	   .is-highlights .highlight-stats .stat-numbers .stat-single-section p{
		   font-size: 0.9rem;
		   margin:0;
		   color:#c5f1ff;
	   }
	
}

/* trek highlights section css */

/* testimonials section css */

.testimonials-section {
	background: linear-gradient(to bottom, #d9f6ff 26%, #fff 100%);
}

.testimonials-section .testimonials-list {
	max-width: 80%;
	margin: auto;
}

.testimonials-section .circular-card{
	height:auto;
	padding: 0 24px;
	width: 330px;
}

.testimonials-section .circular-card img {
	height:140px;
	width:140px;
}

@media only screen and (max-width:575px) {
	.testimonials-section .testimonials-list {
		max-width:100%;
	}
	.testimonials-section .circular-card{
		width:240px;
		padding:24px 16px ;
		margin: 0 16px 0 0;
		background-color: #c5f1ff;
	}

	.testimonials-section .circular-card img {
		height:80px;
		width:80px;
	}

	.testimonials-section .circular-card p{
		width:220px;
	}
}

/* testimonials-section css */

/* blogs css */

.blog-blocks>div:nth-child(1) .blog-card img{
	width:100%;
	height: 480px;
  }

.blog-card {
	margin: 0 0 32px 0;
}

.blog-card img{
	width:100%;
	height: 320px;
	margin: 0 0 16px 0;
	border-radius : 10px;
}

.blog-card .blog-extra-info {
	display: flex;
	justify-content: space-between;
	margin: 0 0 8px 0;
}

.blog-card .blog-extra-info .tags .badge{
	background: linear-gradient(to bottom, #ed8e01 26%, #ffbb57 100%);
	color:#fff;
	font-weight: 400;
}

.blog-card .comment-link a{
	font-weight: 500;
}

.read-more-text a{
	font-weight: 700;
	font-size:16px;
}

.blog-card h2{
	font-weight: 700;
	font-size: 24px;
	margin: 16px 0 12px;
}

@media only screen and (max-width:575px) {
	.blog-card img , .blog-blocks>div:nth-child(1) .blog-card img{
		height:320px;
	}
}
/* blogs css */

/* listing page css */
.sidebar {
	padding: 0 32px 0 0;
	border-right: 2px solid #c5f1ff;
	/* background-color: #c5f1ff; */
}

form.filter-form {
	/* background-color: #c5f1ff; */
}

form.filter-form .form-group {
	margin : 0 0 24px 0;
}

form.filter-form h6{
	font-size: 16px;
	margin: 0 0 8px 0;
	font-weight: 700;
}

form.filter-form input[type="text"] {
	background-color: #cbe6ef;
}

form.filter-form .form-check-input{
	border-color: #ff9900;
}

form.filter-form .form-check-input:checked{
	background-color: #ff9900;
	border-color: #ff9900;
	box-shadow: none;
}

form.filter-form .form-check-input:focus{
	box-shadow: none;
}

form.filter-form label{
	font-size: 14px;
	font-weight: 500;
}


/* listing page css  */

/* detail page container css */
.destination-title {
	display: flex;
	justify-content: space-between;
	border-bottom : 2px solid #ed8e01;
	margin: 0 0 32px 0;
}

.destination-title h1{
	font-weight: 600;
}

@media only screen and (max-width:575px) { 
	.destination-title {
		display: block;
		padding: 0 0 16px 0;
	}

	.destination-title h1 {
		font-size: 24px;
	}
}

.detail-page-container p, .detail-page-container .content-good-to-know-section ul  li {
	font-size: 16px;
	line-height: 26px;
	color: #333;
	font-weight: 500;
}

.detail-page-content-section {
	margin: 0 0 32px 0;
}

.content-includes-excludes ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.content-includes-excludes ul li {
	font-size: 16px;
	line-height: 32px;;
	color:#333;
	font-weight: 500;
}

h4 {
	font-size: 24px;
	font-weight: 700;
}

.content-itinerary ul li span{
	font-size: 14px;
	font-weight: 700;
}

#itinerary-detail span {
	margin: 0 0 8px 0;
	display: block;
}

.content-good-to-know-section {
	border-top : 2px solid #ed8e01;
	padding : 24px 0 0 0;
}

.content-good-to-know-section ul  li {
	margin: 0 0 8px 0;
}

/* detail page container css */

/* booking page css */
.booking-page-banner, .banner.booking-page-banner img{
	height:50vh;
}

.banner.booking-page-banner .carousel-indicators button{
height:60px !important;
width:60px !important;
}

.booking-form{
	background-color: #d9f6ff;
	padding:16px;
}

.booking-form h4{
	margin: 0;
	font-size:24px;
}

.booking-form em {
	font-size: 14px;
}

.booking-form .additional-services{
	margin: 24px 0;
}

.booking-form .additional-services > div {
	margin: 0 0 8px 0;
}

.booking-form .additional-services label{
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 0 4px;
}

.booking-form .additional-services .form-check-input{
	border-radius: 50%;
	border:1px solid #005d85;
}

.booking-form .additional-services .form-check-input:focus{
	box-shadow: none;
}

.booking-form .additional-services .form-check-input:checked{
	background-color: #005d85;
	border-color: #005d85;
}

.booking-form .add-info{
	margin-top: 24px;
}

.booking-form .add-info h4{
	margin: 0 0 16px 0;
}

.booking-form .add-info .form-group {
	margin: 0 0 24px 0;
}

.booking-form .add-info label{
	font-size: 14px;
	font-weight: 700;
}

.booking-form .add-info input {
	border:1px solid #005d85;
	height: 48px;
	line-height: 48px;
}

.booking-form .at-cta-btn {
	padding: 0 3rem;
}

.booking-summary {
	box-shadow: 0px 0px 6px #ccc;
	border-radius: 8px;
	padding:16px;
}

@media only screen and (min-width:575px){
	.booking-summary {
		position:sticky;
		top:20%;
	}
}

.booking-summary h4, .booking-summary h5{
	font-size: 18px;
	font-weight: 700;
	margin: 12px 0;
}

.booking-summary label {
	font-size: 14px;
	color:#333;
}

.booking-summary p{
	font-size: 16px;
	font-weight: 700;
	color:#005d85;
	margin: 0 0 8px 0;
}

.booking-summary .adults, .booking-summary .max-elevation {
	display: inline-block;
	width: 120px;
}

.booking-summary .cost-breakdown div, .booking-summary .final-payment {
	display:flex;
	justify-content: space-between;
}

.booking-summary .final-payment p{
	font-size: 40px;
	font-weight: 700;
	color:#338500;
}
/* booking page css */


/* footer css here */
footer{
	font-size: 14px;
}

.subscription-box {
	text-align: center;
}

.subscription-box form {
	width: 350px;
	display: inline-block;
}

.subscription-box h6 {
	font-weight: 600;
	font-size: 18px;
}

.subscription-box form input {
	padding: 8px 16px;
	border-radius:5px;
	border:none;
	box-shadow: none;
	background-color: #d9d9d9;
	font-size: 14px;
}

.subscription-box form input:focus{
	border:none;
	box-shadow:none;
}

.footer-contents{
	margin: 48px 0 0;
	color: #d9f6ff;
}

.footer-links{
	margin:0;
	padding:0;
	list-style: none;
}

.m-fl{
	margin:0 0 24px 0;
}

.footer-links li a{
	color:#c5f1ff;
	display: inline-block;
	margin: 0 0 4px 0;
}

.footer-information-section{
	margin: 0 0 24px 0;
}

.footer-information-section h6{
	font-weight: 700;
	margin: 0 0 12px 0;
	color:#f5f5f5;
}

.footer-information-section p{
	margin:0;
	color:#c5f1ff;
}

.footer-bottom-bar {
	text-align: center;
	font-size: 12px;
	color:#f5f5f5;
}
/* footer css here  */