body {
	font-family: 'Montserrat', sans-serif;
}
html{
	scroll-behavior: smooth;
}
section {
	padding: 40px 0;
}

/* ul{
	margin:0;
	padding:0;
} */

.at-cta-btn{
    background-color: #ff9900;
    color:#fff;
    padding:0 1rem;
    display: inline-block;
    border-radius: 5px;
	text-decoration: none;
	font-weight:600;
	height:2.5rem;
	line-height: 2.5rem;
	font-size: 0.8rem;
	border:2px;
}
.at-cta-btn:hover {
    background-color: #d58000;
}

.a t-links {
    
}

a{
	text-decoration: none;
}

.primary-color {
	color: #005d85;
}

.primary-background-color {
	background-color: #005d85;
	color:#fcfcfc;
}

.primary-outline-color {
	border:2px solid #005d85;
	color:#005d85;
	background-color: #fff;
	box-sizing: border-box;
}

.primary-outline-color:hover {
	border:none;
	color:#fff;
	background-color: #d58000;
}

.primary-outline-background-color {

}

.secondary-color {
	color: #ff9900;
}

.secondary-background-color {
	background-color: #ff9900;
	color:#fff;
}

.primary-link{
	color: #ff9900;
}

.section-heading {
	text-align: center;
	margin: 0 0 64px 0;
}

.section-heading h2 {
	font-weight: 700;
	font-size: 3rem;
	margin:0 0 0 0;
}

.section-heading a {
	font-weight: 600;
}	

.card-link {
	position: relative;
}

.card-link-anchor{
	position: absolute;
	content:'';
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.pagination a{
	color: #005d85;
}

.pagination a:hover{
	background-color: #ff9900;
	color:#fff;
}

.pagination .active{
	background-color: #ff9900;
	border-color:#d58000;
}

.wrapper-right{
	justify-content: flex-end;
}


@media only screen and (max-width:575px) {

	.at-cta-btn{
		font-size: 12px;
	}

	section{
		padding:1rem 0 !important;
		margin:1rem 0 !important;
	}

	.section-heading h2 {
		font-size: 28px;
	}

	.section-heading a {
		font-size: 14px;
	}

	.horizontal-slider-mobile{
		display: block;
		width:560px;
		overflow-y: auto;
	}
	
}

.at-page-title{
	font-size: 40px;
	font-weight: 600;
	border-bottom:2px solid #ff9900;
	margin: 0 0 40px 0;
	padding: 0 0 8px 0;
}

@media only screen and (max-width:575px) {
	.at-page-title{
		font-size: 24px;
	}
}

.tags .badge{
	background: linear-gradient(to bottom, #ed8e01 26%, #ffbb57 100%);
	color:#fff;
	font-weight: 400;
}

.important-message {
	color : #c90000;
	margin: 0 0 1rem 0;
}

.image-gallery {
	margin: 2rem 0 0 0;
}

.image-gallery img {
	width:100%;
	height:auto;
	margin: 0 0 1rem 0;
}
/* constant css ends */


/* login signup page css */
	.login-signup-form{
		min-height: 80vh;
	}

	.login-signup-form .login-page-content h2{
		font-size: 3rem;
		font-weight: 700;
	}

	.login-signup-form .login-page-content p{
		color:#333;
		font-size: 1rem;
		line-height: 26px;
	}

	.login-signup-form .login-page-content p a{
		font-weight: 600;
	}

	.login-signup-form .login-page-content p a:hover{
		color:#4267B2;
	}

	.login-signup-form .ls-form{
		width: 100%;
    	padding: 4rem;
    	background-color: #ffffff;
    	box-shadow: 0px 2px 4px #ccc;
    	border-radius: 10%;
	}

	.login-signup-form h3 {
		font-size: 1.5rem;
		font-weight: 700;
		margin: 0 0 3rem 0;
		padding: 0 0 0.5rem 0;
		border-bottom : 2px solid #d58000;
	}

	.login-signup-form .form-group{
		margin: 0 0 1rem 0;
	}

	.login-signup-form .login-form p{
		font-size: 0.8rem;
	}

	.login-signup-form label{
		font-weight: 600;
		color:#005d85;
		font-size: 0.9rem;
	}

	.login-signup-form .form-check {
		font-size: 0.8rem;
	}

	.social-login i{
		font-size: 1.5rem;
		margin: 0 0.5rem 0 0;
	}

	.social-login .fa-google{
		color:#DB4437;
	}

	.social-login .fa-facebook{
		color:#4267B2;
	}

	.social-login .fa-instagram{
		color: #C13584;
	}

	@media only screen and (max-width:575px) {
		.login-signup-form .login-page-content h2{
			font-size: 2rem;
		}

		.login-signup-form .ls-form{
			padding:1.5rem;
			border-radius:5px;
			border-top:2px solid #005d85;
		}
	}
/* login signup page css */

/* header css starts  */

.top-header-bar{
	padding:8px 0;
	font-size: 14px;

}

.social-links a{
	font-size: 1rem;
	color:#c5f1ff;
	margin: 0 4px 0 0;
}

.logo-header{
	padding: 1rem 0;
	background-color: #fcfcfc;
}

.artemis-nav{
	justify-content: flex-end;
}

.artemis-nav {
	display: flex;
	align-items:center;
	margin:0;
	padding:0;
}

.artemis-nav .nav-item {
	margin: 0 0 0 24px;
}

.artemis-nav .nav-item a {
	color:#333;
	font-weight: 700;
	position: relative;
	font-size: 1rem;
}



.artemis-nav .nav-item a:hover, .artemis-nav .nav-item a.active{
	color:#005d85;
}

.artemis-nav .nav-item a::after, .artemis-nav .nav-item a.active::after {
	position: absolute;
	content: '';
	bottom:-8px;
	right:0;
	height:2px;
	width:0%;
	background-color: #333;
	transition:0.3s;
}

.artemis-nav .nav-item a:hover::after, .artemis-nav .nav-item a.active::after{
	position: absolute;
	width:40%;
	transition: 0.3s;
}

.artemis-nav .dropdown-menu .nav-item {
	margin:0;
	padding:0;
	width:200px;
}
.artemis-nav .dropdown-menu .nav-item a {
	font-size: 14px;
	padding: 8px 1rem;
	font-weight: 500;
	display: block;
}

.artemis-nav .dropdown-menu .nav-item a:hover{
	background-color: #d9f6ff;
}

@media only screen and (max-width:575px) {

	.logo-header {
		padding: 8px 8px 0;
	}

	.artemis-nav {
		justify-content: space-between;
		border-bottom: 1px solid #ccc
	}

	.artemis-nav .nav-item {
		margin: 1rem 0.8rem 1rem 0rem;
	}

	.artemis-nav .nav-item a {
		font-size: 14px;
	}

	.wrapper-right{
		justify-content: space-between}
}

@media only screen and (max-width:380px) {
	.artemis-nav .nav-item {
		margin: 1rem 12px 1rem 0px;
	}

	.artemis-nav .nav-item a {
		font-size: 12px;
	}
}

/* header css ends  */

/* banner css */
.banner.homepage-banner {
	height:80vh;
	background : url('../images/banner-background.png') center center no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom : 100px;
}

.banner .dark-bg-layer{
	position: absolute;
	content: '';
	bottom:0;
	right:0;
	height:100%;
	width:100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.dark-bg-layer .banner-text {
	position: absolute;
	width:72%;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	padding:2rem;
	color:#fff;
}

.dark-bg-layer .banner-text h1 {
	font-weight: 700;
	font-size: 3rem;
	margin:0 0 1.5rem 0;
}

.dark-bg-layer .banner-text p {
	font-weight: 400;
	margin: 0 0 1rem 0;
}

.banner .search-form{
	position: absolute;
	background-color: #fff;
	min-width: 72%;
	left:50%;
	bottom:-45px;
	transform: translate(-50%);
	box-shadow: 0px 2px 4px #ccc;
	padding: 20px 40px;
	border-radius:50px;
}

.search-form form{
	display: flex;
	justify-content: space-between;
}

.search-form .search-button {
	border: none;
    background-color: #005d85;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: #fff;
}

.banner.homepage-banner .search-form .form-control:focus{
	box-shadow: 0;
}

@media only screen and (max-width : 575px) {

	.banner.homepage-banner {
		height:64vh;
		margin-bottom : 280px;
	}

	.dark-bg-layer .banner-text {
		width: 100%;
		text-align: left;
		padding: 1rem;
	}

	.dark-bg-layer .banner-text h1 {
		font-size: 2.5rem;
	}

	.banner.homepage-banner .search-form{
		width:100%;
		bottom:-240px;
		border-radius:40px;
		padding-bottom:2rem;
	}

	.banner.homepage-banner .search-form form {
		display: block;
	}

	.banner.homepage-banner .search-form .search-button {
    	height: 50px;
    	width: 100%;
    	border-radius: 25px;
	}
}

/* detail page banner css */
.banner.detail-page-banner{
	margin: 0 0 3rem 0;
}

.banner.detail-page-banner img{
	height:80vh;
}

.banner.detail-page-banner .destination-summary{
	position: relative;
}

.banner.detail-page-banner .destination-summary-box {
	position: absolute;
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.9));
	content:'';
	left:0;
	bottom:0;
	padding: 2rem;
	display: inline-block;
	width:25rem;
	height:25rem;
	border-radius: 10px 10px 0 0;
}

.banner.detail-page-banner .carousel-indicators{
	display: inline-block;
	right:0;
	left:auto;
}

.banner.detail-page-banner .carousel-indicators button {
	height:100px;
	width:100px;
}	

.banner.detail-page-banner .carousel-indicators button {
	border:2px solid #c5f1ff;
}

.banner.detail-page-banner .destination-summary .summary-rate {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1rem 0;
}

.banner.detail-page-banner .destination-summary label {
	color:#333;
	font-size: 1rem;
}

.banner.detail-page-banner .destination-summary .summary-rate label small {
	color:#c90000;
}

.search-form{
	border-radius:0;
	box-shadow: none;
	background-color: none;
	border-right:none;
	position: static;
}

.banner.detail-page-banner .destination-summary .summary-rate div > div {
	font-size: 40px;
	font-weight: 700;
}

.banner.detail-page-banner .destination-summary p {
	font-weight: 700;
}

@media only screen and (max-width:575px) {

	.banner.detail-page-banner .destination-summary-box{
		height:440px;
		width:100%;
	}

	.banner.detail-page-banner .carousel-indicators {
		display: none;
	}
}

/* detail page banner css */
/* banner css */

/* cards css */

/* circular-card css */
.circular-card {
	height:256px;
	width:240px;
	text-align: center;
	padding:8px;
	display: inline-block;
}

.circular-card img{
	width:200px;
	height:200px;
	border-radius: 50%;
	margin-bottom:1rem;
}

.circular-card h2{
	font-size: 18px;
	font-weight: 700;
}

.circular-card:hover img{
	box-shadow: 2px 6px 6px rgb(156, 156, 156);
}

.circular-card:hover h2{
	color:#005d85;
}

@media only screen and (max-width:575px) {
	.circular-card {
		height:auto;
	}
}

/* circular-card css */
/* destination-card-global d-card */
.d-card h2 {
	font-size:24px;
	font-weight: 700;
	margin: 0 0 8px 0;
}

.d-card h6 {
	margin: 0 0 8px 0;
}

.d-card h6 .trek-amount {
	font-size: 18px;
	font-weight: 700;
	color:#338500;
}

.d-card small {
	font-size: 12px;
	color:#999;
}

.d-card p {
	color:#333;
}
/* destination-card-global d-card */
/* destination-card-1 css */

.destination-card-1{
	width:400px;
	padding: 8px;
}

.d-card img{
	width:360px;
	height:360px;
	margin : 0 0 1rem 0;
	border-radius: 20px;
}

@media only screen and (max-width:575px) {
	
	.destination-card-1{
		width:320px;
		margin: 0 0 1rem 0;
	}
	
	.destination-card-1 img{
		width:280px;
		height:280px;
	}
}
/* destination-card-1 css */


/* destination-card-2 css */
.destination-card-2 {
	width: 520px;
	padding: 0 8px;
}

.destination-card-2 h2{
	font-size: 2rem;
	font-weight: 700;
	margin: 0 0 12px 0;
}

.destination-card-2 img{
	width: 504px;
	height:520px;
	margin: 0 0 1rem 0;
	border-radius: 20px;
}

@media only screen and (max-width: 575px) {
	.destination-card-2 {
		width: 100%;
		padding: 8px;
		margin: 0 0 1rem 0;
	}
	
	.destination-card-2 img{
		width: 100%;
		height:320px;
	}
}

/* destination-card-2 css */


/* destination-card-3 css */
.destination-card-3 {
	display: flex;
	margin: 0 0 2rem 0;
}

.destination-card-3 img{
	width:100%;
    height: 240px;
    border-radius: 10px;
}

.destination-card-3 h2{
	font-size: 24px;
	font-weight: 700;
}

@media only screen and (max-width: 575px) {

	.destination-card-3 {
		margin: 0 0 40px 0;
	}

	.destination-card-3 img{
		margin: 0 0 1rem 0;
	}
}

/* .destination-card-3 css */

/* destination-card-4 css */
.destination-card-4 {
	margin: 0 0 2rem 0;
	box-shadow: 0px 0px 4px #ccc;
	border-radius: 10px;
}

.destination-card-4 .img-section {
	padding:0;
}

.destination-card-4 img{
	width:100%;
    height: 280px;
    border-radius: 10px;
	margin-bottom : 0;
}

.destination-card-4 .txt-section {
	padding: 1rem;
}
/* destination-card-4 css */

/* destination-card-5 css */
.destination-card-5 {
	padding:0 0 1rem 0;
	margin: 0 0 2rem 0;
}
.destination-card-5 img{
	width:100%;
}
/* destination-card-5 css */

/* .destination-card-6 css */
.destination-card-6 {
	margin: 0 0 2rem 0;
	box-shadow: 0px 0px 4px #ccc;
	border-radius: 10px;
	align-items: center;
}

.destination-card-6 .img-section {
	padding:0;
}

.destination-card-6 .txt-section {
	padding: 1.5rem;
}

.destination-card-6 img{
	width:100%;
	height:440px;
	margin: 0;
}
/* .destination-card-6 css */
 
/* cards css */

/* trek highlights section css */
.is-highlights{
	display: flex;
	position: relative;
	padding: 2rem 0;
}

.is-highlights .highlight-images{
	border-right: 2px solid #f5f5f5;
	padding:0 1rem 0 0;
	height:560px;
}

.is-highlights .highlight-images .image-1{
	position: absolute;
	height:20rem;
	width:20rem;
}

.is-highlights .highlight-images .image-2{
	position: absolute;
	height:20rem;
	width:20rem;
	top:15rem;
	left:10rem;
	z-index:2
}

.is-highlights .highlight-images .image-3{
	position: absolute;
	height:10rem;
	width:10rem;
	top:3.4rem;
	left:23rem;
	z-index:2
}

.is-highlights .highlight-images img{
	border-radius:10%;
	border:4px solid #d58000;
	height:100%;
	width:100%;
}

.is-highlights .highlight-stats h6{
	font-size: 2rem;
	color: #f5f5f5;
	font-weight: 400;
	margin: 0 0 2rem 0;
}

.is-highlights .highlight-stats .stat-numbers .stat-single-section {
 width:40%;
 display: inline-block;
 margin: 0 3rem 2rem 0;
}

.is-highlights .highlight-stats .stat-numbers .stat-single-section h5{
	font-size: 4rem;
	font-weight: 700;
	color:#f5f5f5;
	margin:0;
}

.is-highlights .highlight-stats .stat-numbers .stat-single-section p{
	font-size: 1rem;
	margin:0;
	color:#c5f1ff;
}

@media only screen and (max-width: 575px) {

	.is-highlights{
		padding: 1rem 0 0 0.5rem;
	}

	.is-highlights .highlight-images{
		border-right: none;
		height:400px;
	}
	
	.is-highlights .highlight-images .image-1{
		height:13rem;
		width:13rem;
	}
	
	.is-highlights .highlight-images .image-2{
		position: absolute;
		height:13rem;
		width:13rem;
		top:11rem;
		left:9rem;
	}
	
	.is-highlights .highlight-images .image-3{
		height:8rem;
		width:8rem;
		top:2rem;
		left:16rem;
		z-index:2
	}

	.is-highlights .highlight-stats h6{
		font-size: 1.5rem;
	}

	.is-highlights .highlight-stats .stat-numbers .stat-single-section {
		width:36%;
		display: inline-block;
		margin: 0 3rem 2rem 0;
	   }
	   
	   .is-highlights .highlight-stats .stat-numbers .stat-single-section h5{
		   font-size: 3rem;
		   font-weight: 700;
		   margin:0;
	   }
	   
	   .is-highlights .highlight-stats .stat-numbers .stat-single-section p{
		   font-size: 0.9rem;
		   margin:0;
		   color:#c5f1ff;
	   }
	
}

/* trek highlights section css */

/* testimonials section css */

.testimonials-section {
	background: linear-gradient(to bottom, #d9f6ff 26%, #fff 100%);
}

.testimonials-section .testimonials-list {
	max-width: 80%;
	margin: auto;
}

.testimonials-section .circular-card{
	height:auto;
	padding: 0 24px;
	width: 330px;
}

.testimonials-section .circular-card img {
	height:140px;
	width:140px;
}

@media only screen and (max-width:575px) {
	.testimonials-section .testimonials-list {
		max-width:100%;
	}
	.testimonials-section .circular-card{
		width:240px;
		padding:24px 1rem ;
		margin: 0 1rem 0 0;
		background-color: #c5f1ff;
	}

	.testimonials-section .circular-card img {
		height:80px;
		width:80px;
	}

	.testimonials-section .circular-card p{
		width:220px;
	}
}

/* testimonials-section css */

/* blogs css */

.blog-blocks>div:nth-child(1) .blog-card img{
	width:100%;
	height: 480px;
  }

.blog-card {
	margin: 0 0 2rem 0;
}

.blog-card img{
	width:100%;
	height: 320px;
	margin: 0 0 1rem 0;
	border-radius : 10px;
}

.blog-card .blog-extra-info {
	display: flex;
	justify-content: space-between;
	margin: 0 0 8px 0;
}



.blog-card .comment-link a{
	font-weight: 500;
}

.read-more-text a{
	font-weight: 700;
	font-size:1rem;
}

.blog-card h2{
	font-weight: 700;
	font-size: 24px;
	margin: 1rem 0 12px;
}

@media only screen and (max-width:575px) {
	.blog-card img , .blog-blocks>div:nth-child(1) .blog-card img{
		height:320px;
	}
}
/* blogs css */

/* blog detail page css  */
.blog-content .blog-title{
	font-weight: 700;
	font-size: 2rem;
	margin:0;
}

.blog-content .blog-subtitle{
	font-size: 1rem;
	font-style: italic;
}

.blog-author-social{
	display: flex;
	justify-content: space-between;
	margin: 0 0 1rem 0;
}



.blog-author {
	display: flex;
	align-items: center;
}

.blog-author img{
	height:65px;
	width:65px;
	border:1px solid #ff9900;
	border-radius:50%;
	margin: 0 1rem 0 0;
}

.blog-author h6{
	font-weight: 600;
	font-size: 1rem;
	margin:0;
	line-height: 10px;
}

.blog-author em{
	font-size: 12px;
}

.blog-social a{
	background-color: #ff9900;
	height:44px;
	line-height: 44px;
	width:40px;
	text-align: center;
	font-size: 24px;
	border-radius: 50%;
	display: inline-block;
	color:#fff;
	margin: 0 8px 0 0;
}



.blog-featured-image {
	height:400px;
	margin: 24px 0 2rem;
}

.blog-featured-image img {
	height : 100%;
	width:100%;
	border-radius:10px;
}

.blog-content p {
	font-size: 1rem;
    line-height: 26px;
    color: #333;
    font-weight: 500;
}

@media only screen and (max-width:575px) {
	.blog-author-social {
		flex-direction: column-reverse;
	}	

	.blog-author {
		margin: 0 0 1rem 0;
	}

	.blog-featured-image {
		height: 280px;
	}
}

.blog-sidebar {
	/* background-color: #f5f5f5; */
	padding:8px;
}

.blog-sidebar ul li {
	display: flex;
	margin: 0 0 8px 0;
	align-items: center;
	padding:4px;
	border-radius: 5px;
}

.blog-sidebar ul li:hover{
	background-color: #d9f6ff;
}

.blog-sidebar ul li img {
	height:65px;
	width:65px;
	margin: 0 8px 0 0;
	border-radius:10px;
}

.blog-sidebar ul li h2 {
	font-size: 1rem;
	line-height: 26px;
}

.blog-sidebar ul li a {
	color:#333;
	font-weight: 600;
}

.blog-sidebar ul li:hover a{
	color: #005d85;
}
/* blog detail page css  */

/* comment section css  */

.comment-section h3{
	border-top : 1px solid #ccc;
	margin: 2rem 0 24px;
	padding: 24px 0 0;
	font-weight: 600;
}

.comment-section .author-details {
	display:flex;
	margin: 0 0 1rem 0;
}
.comment-section img{
	height:60px;
	width:60px;
	border:1px solid #ff9900;
	margin: 0 1rem 0 0;
	border-radius:50%;
}

.comment-section .author-info {
	padding: 21px 0 0;
	margin: 0 0 8px 0;
}

.comment-section .author-info h6{
	font-weight: 600;
	font-size: 1rem;
	line-height: 0px;
}

.comment-section .author-info em{
	font-size: 14px;
}

.comment-section .author-comment {
	font-size: 14px;
	font-weight: 400;
}

.comment-reply {
	background-color: #f5f5f5;
	padding:1rem;
	border-left:2px solid #999;
}

.comment-section .reply-text{
	font-weight: 700;
	color:#005d85;
}

.comment-section textarea{
	border: 1px solid #005d85;
}	

/* comment section css  */

/* listing page css */
.sidebar {
	padding: 0 2rem 0 0;
	border-right: 2px solid #c5f1ff;
	/* background-color: #c5f1ff; */
}

.sidebar.right-sidebar{
	border-right:none;
	border-left: 2px solid #c5f1ff;
	padding: 0 0 0 2rem;
}



form.filter-form {
	/* background-color: #c5f1ff; */
}

form.filter-form .form-group {
	margin : 0 0 24px 0;
}

form.filter-form h6{
	font-size: 1rem;
	margin: 0 0 8px 0;
	font-weight: 700;
}

form.filter-form input[type="text"] {
	background-color: #cbe6ef;
}

form.filter-form .form-check-input{
	border-color: #ff9900;
}

form.filter-form .form-check-input:checked{
	background-color: #ff9900;
	border-color: #ff9900;
	box-shadow: none;
}

form.filter-form .form-check-input:focus{
	box-shadow: none;
}

form.filter-form label{
	font-size: 14px;
	font-weight: 500;
}


/* listing page css  */

/* detail page container css */
.destination-title {
	display: flex;
	justify-content: space-between;
	border-bottom : 2px solid #ed8e01;
	margin: 0 0 2rem 0;
}

.destination-title h1{
	font-weight: 600;
}

@media only screen and (max-width:575px) { 
	.destination-title {
		display: block;
		padding: 0 0 1rem 0;
	}

	.destination-title h1 {
		font-size: 24px;
	}
}

.detail-page-container p, .detail-page-container .content-good-to-know-section ul  li {
	font-size: 1rem;
	line-height: 26px;
	color: #333;
	font-weight: 500;
}

.detail-page-content-section {
	margin: 0 0 2rem 0;
}

.content-includes-excludes ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.content-includes-excludes ul li {
	font-size: 1rem;
	line-height: 2rem;;
	color:#333;
	font-weight: 500;
}

h4 {
	font-size: 24px;
	font-weight: 700;
}

.content-itinerary ul li span{
	font-size: 14px;
	font-weight: 700;
}

#itinerary-detail span {
	margin: 0 0 8px 0;
	display: block;
}

.content-good-to-know-section {
	border-top : 2px solid #ed8e01;
	padding : 24px 0 0 0;
}

.content-good-to-know-section ul  li {
	margin: 0 0 8px 0;
}

/* detail page container css */

/* booking page css */
.booking-page-banner, .banner.booking-page-banner img{
	height:50vh;
}

.banner.booking-page-banner .carousel-indicators button{
height:60px !important;
width:60px !important;
}

.booking-form{
	background-color: #d9f6ff;
	padding:1rem;
}

.booking-form h4{
	margin: 0;
	font-size:24px;
}

.booking-form em {
	font-size: 14px;
}

.booking-form .additional-services{
	margin: 24px 0;
}

.booking-form .additional-services > div {
	margin: 0 0 8px 0;
}

.booking-form .additional-services label{
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 0 4px;
}

.booking-form .additional-services .form-check-input{
	border-radius: 50%;
	border:1px solid #005d85;
}

.booking-form .additional-services .form-check-input:focus{
	box-shadow: none;
}

.booking-form .additional-services .form-check-input:checked{
	background-color: #005d85;
	border-color: #005d85;
}

.booking-form .add-info{
	margin-top: 24px;
}

.booking-form .add-info h4{
	margin: 0 0 1rem 0;
}

.booking-form .form-group {
	margin: 0 0 24px 0;
}

.booking-form label{
	font-size: 14px;
	font-weight: 700;
}

.booking-form .add-info input{
	border:1px solid #005d85;
	height: 3rem;
	line-height: 3rem;
}

.booking-form textarea {
	border:1px solid #005d85;
}

.booking-form .at-cta-btn {
	padding: 0 3rem;
}

.dp-booking-form{
	position:sticky;
	top: 8rem;
}

@media only screen and (max-width:575px) {
	.dp-booking-form{
		top: 12rem;
		margin: 3rem 0;
	}

	.dp-booking-form .booking-form {
		padding: 2rem 1rem;
	}
}

.booking-form .dp-booking-form input{
	padding: 0.75rem 1rem;
}

.booking-summary {
	box-shadow: 0px 0px 6px #ccc;
	border-radius: 8px;
	padding:1rem;
	position:sticky;
	top:20%;
}

.booking-summary h4, .booking-summary h5{
	font-size: 18px;
	font-weight: 700;
	margin: 12px 0;
}

.booking-summary label {
	font-size: 14px;
	color:#333;
}

.booking-summary p{
	font-size: 1rem;
	font-weight: 700;
	color:#005d85;
	margin: 0 0 8px 0;
}

.booking-summary .adults, .booking-summary .max-elevation {
	display: inline-block;
	width: 120px;
}

.booking-summary .cost-breakdown div, .booking-summary .final-payment {
	display:flex;
	justify-content: space-between;
}

.booking-summary .final-payment p{
	font-size: 24px;
	font-weight: 700;
	color:#338500;
}

.cost-breakdown .final-payable-amount{
	font-weight: 700;
	font-size: 2rem;
	color:#338500;
}

@media only screen and (max-width:575px){
	.booking-form{
		padding:8px;
		margin: 0 0 1rem 0;
	}
	.booking-summary {
		position:static;
	}
}
/* booking page css */


/* *************************contact us *************************************** */
.cta-section {
	background-color: #ffe9c9;
 }
 .contact-us {
	padding: 60px 0 120px;
 }

 .contact-us label {
	font-weight: 700;
 }
 
 .contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="number"], .contact-form select, .contact-form option, .contact-form input[type="date"]{
	 height:50px; 
	 background-color: #d9f6ff;
	 border:none;
 }
 .contact-form textarea {
	 background-color: #d9f6ff;
	 border:none;
 }
 .contact-form input[type="date"] {
	 padding: 15px;
	 width:100%;
	 border: 1px solid #ced4da;
 }
 
 .contact-form .checkbox-div{
	 display: inline-block;
	 margin:0 8px 0 0;
	 font-weight: normal;
 }
 
 .contact-form .form-check-input:checked {
	 background-color: #005d85;
	 border-color: #f9a80b;
 }

 .contact-form .form-check-input:focus{
	box-shadow: none;
 }
 
 .contact-us .contact-form-heading{
	font-weight: 600;
	font-size: 40px;
 }
 
 /* ********************************* contact us ************************************* */
 

 /* faq page css */
.faqs .accordion h2 button{
	font-weight: 500;
	font-size: 18px;
	color:#fcfcfc;
	background-color: #005d85;
}

.faqs .accordion h2 button:focus{
	box-shadow: none;
}

.faqs .faq-container div{
	background-color: #fcfcfc;
	padding: 1rem;
	margin:0 0 8px 0;
}

.faqs .faq-container h4{
	font-size: 1rem;
	color:#005d85;
}

.faqs .faq-container p{
	font-size: 1rem;
	line-height: 26px;
	color:#333;
}
 /* faq page css */

 /* about page css */
 .about-service-images {
	display: flex;
	align-items: center;
	margin: 0 0 40px 0;
 }
 .about-service-images img {
	width:100%;
	border-radius: 5%;
 }
 .about-service-images h3{
	font-size: 24px;
	font-weight: 700;
 }
 .about-service-images p {
	font-size: 14px;
	line-height:26px;
	font-size: 600;
	color:#999
 }
 /* about page css  */

/* footer css here */
footer{
	font-size: 14px;
}

.subscription-box {
	text-align: center;
}

.subscription-box form {
	width: 350px;
	display: inline-block;
}

.subscription-box h6 {
	font-weight: 600;
	font-size: 18px;
}

.subscription-box form input {
	padding: 8px 1rem;
	border-radius:5px;
	border:none;
	box-shadow: none;
	background-color: #d9d9d9;
	font-size: 14px;
}

.subscription-box form input:focus{
	border:none;
	box-shadow:none;
}

.footer-about-content{
	margin: 0 0 1rem 0;
}

.footer-contents{
	margin: 3rem 0 0;
	color: #d9f6ff;
}

.footer-links{
	margin:0;
	padding:0;
	list-style: none;
}

.m-fl{
	margin:0 0 24px 0;
}

.footer-links li a{
	color:#c5f1ff;
	display: inline-block;
	margin: 0 0 4px 0;
}

.footer-information-section{
	margin: 0 0 24px 0;
}

.footer-information-section h6{
	font-weight: 700;
	margin: 0 0 12px 0;
	color:#f5f5f5;
}

.footer-information-section p{
	margin:0;
	color:#c5f1ff;
}

.footer-bottom-bar {
	text-align: center;
	font-size: 12px;
	color:#f5f5f5;
}
/* footer css here  */